<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Showcase</title>
    <link rel="stylesheet" href="/templates/css/shop_css.css">

</head>
<body>

<div class="header">
    <a href="/home" class="header_button">Home</a>
    <a href="/profile" class="header_button">Profile</a>
</div>
<div class="filter_bar">
    <input type="text" class="filter_input" placeholder="Search...">
</div>
<div class="product_container">
    {% for item in all_products %}
    <div class="product_info">
        <img src="{{ item.image.url }}" class="product_images" alt="{{ item.name }}">
        <div class="product_info1">
            <br>{{ item.name }}<br>
            {{ item.price }} $
        </div>
        <div class = "order_subcontainer">
            <div class="order_button">
                <a class="order_button1" href="/cart">Buy</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
