<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Showcase</title>
    <link rel="stylesheet" href="/templates/css/shop_css.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>

</style>
<body>

<div class="header">
    <a href="{% url 'home' %}" class="back_arrow_block"><img src="/templates/images/back.png" class="back_arrow"></a>
    <a href="{% url 'home' %}"><img src="/templates/images/main-logo.png" class="logo"></a>
    <div class="buttons">
        <a href="{% url 'home' %}" class="header_button">Home</a>
        <a href="{% url 'update_info' %}" class="header_button">Profile</a>
    </div>
</div>

<div class="product_container">
    {% for item in cart_products %}
    <div class="product_info">
        <img src="{{ item.image.url }}" class="product_images" alt="{{ item.name }}">
        <div class="product_info1">
            <br>{{ item.name }}<br>
            {{ item.price }} $
        </div>
        <div class="order_subcontainer">
            <div class="delete_button">
                <button type="button" data-index="{{ item.id }}" class="delete_button1">Delete</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>

<script>
$(document).on('click', '.delete_button1', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err) {
            console.error(errmsg);
        }
    });
});
</script>
